@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    text-align: center;
    padding: 50px;
    color: #979797;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}

header {
    height: 9vh;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    float: none;
    display: inline-block;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2) {
    float: left;
}


nav ul li a {
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 12px 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}


nav ul li a img { 
    cursor: pointer;
}

#navbar {
    width: 100%;
    position: absolute;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 47%;
    top: 0%;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px 0 0;
    text-decoration: none;
    color: black;
    cursor: default;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}

.homeheader {
    text-align: center;
    font-size: 5rem;
}

.homecontent {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 12px 30px 12px 0;
    color: black;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.input-group {
    color: black;
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    margin: 8px 0;
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.5px solid rgb(22, 22, 22);
    opacity: 50%;

}

.input-group input:focus {
    outline: none;
}

.cart {
    width: 30px;
    height: 30px;
}

.btn {
    padding: 13px;
    font-size: 15px;
    color: white;
    background: #2c2c2c;
    border: none;
    border-radius: 8px;
    width: 100%;
    letter-spacing: 2px;
    font-weight: bold;
}

.Sign-Up {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.signUp, .logIn {
    color: black;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}


/*Filter styles*/
.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.rss.opacity {
    filter: opacity(50%);
}
