@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
}

header {
    height: 9vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    float: none;
    display: inline-block;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2) {
    float: left;
}

nav ul li:nth-child(3),
nav ul li:nth-child(4),
nav ul li:nth-child(5) {
    float: right;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 12px 30px 12px 0;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li a:hover {
    font-weight: 500;
}

nav ul li a img {
    cursor: pointer;
}

#navbar {
    width: 100%;
    position: absolute;
}

.logo {
    position: absolute;
    left: 47%;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 10px 0 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menProd,
.womanProd {
    width: 100%;
    height: 91vh;
}

.menProd {
    background-image: url(https://drive.google.com/uc?id=1FyrPbl9Zh1HRtmYT8mwmFXj2bMOA3KcE);
    background-size: cover;
    background-position: center;
}

.womanProd {
    background-image: url(https://drive.google.com/uc?id=1bIjt49WcpfzN4e_aRcadNAK8Sd7iDpxK);
    background-size: cover;
}

.banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner div h1 {
    font-size: 80px;
    color: white;
    letter-spacing: 5px;
    font-weight: 400;
    margin: 0;
    text-shadow: 10px 5px 8px rgba(0, 0, 0, 0.452);
    padding: 0;
    transform: scale(1, .9);
    cursor: default;
}

.banner div p {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    margin: -20px 0 30px 0;
    text-shadow: 10px 5px 8px rgba(0, 0, 0, 0.452);
    transform: scale(1, .8);
    cursor: default;
}

.seeMore {
    color: black;
    background: white;
    padding: 18px 28px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
    transform: scale(1, .8);
    transition: 0.5s;
    text-decoration: none;
}

.seeMore:hover {
    color: white;
    background: black;
}

.homecontent {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin: 12px 30px 12px 0;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

}

.productBox2 {
    width: 80%;
    margin: 0 4px;
    
}

.productBox2 ul {
    list-style: none;
    
}

.category2 {
    padding: 0;
    width: 100%;
    overflow: hidden;
    
}

.category2 li a {
    text-decoration: none;
    color: black;
    transition: 1s;
    
}

.dropdown2 .logout p a:hover {
    text-decoration: underline;
    text-align: center;
}

.dropdown2 {
    position: absolute;
    background-color: white;

    width: 6%;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    display: grid;
    z-index: 1;
}

.dropdown2 li {
    margin: 10px 30px 0;
}

.category2 li ul {
    padding: 0 0 0 0px;
}

.category2:hover .dropdown2 {
    opacity: 1;
    visibility: visible;
    border: 1px solid black;
    border-radius: 15px;
}
